<%= form_with(model: user, url: registration_path(:user), method: :patch, data: { turbo: false }, html: { class: "d-flex flex-column align-items-center mt-5" }) do |form| %>
  <h2 class="fw-bold fs-6 text-primary">Password</h2>

  <div class="mb-1 d-flex flex-column align-items-start">
    <%= form.label :current_password %>
    <%= form.password_field :current_password, class: "form-control" %>
  </div>

  <div class="mb-1 d-flex flex-column align-items-start">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", autofocus: true %>
  </div>
  

  <div class="mb-1 d-flex flex-column align-items-start">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-success mt-3", value: "Save" %>
  </div>
<% end %>