<div id="<%= dom_id user %>">

  <div>
    <strong>Id:</strong>
    <%= user.id %>
  </div>
  <div>
    <strong>Firtsname:</strong>
    <%= user.firtsName %>
  </div>

  <div>
    <strong>Lastname:</strong>
    <%= user.lastName %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= user.email %>
  </div>

  <div>
    <strong>Role:</strong>
    <%= user.role %>
  </div>

  <div>
    <strong>Following:</strong>
    <%= user.following_ids %>
  </div>

  <div>
    <strong>Followers:</strong>
    <%= user.followers.count %>
  </div>
</div>
