<div
  class="content d-flex flex-column flex-md-row w-100 align-items-center text-center text-md-start"
>
  <div
    class="col-md-3 d-flex flex-column align-items-center mb-4 mb-md-0 me-md-4"
  >
    <img
      src="https://plus.unsplash.com/premium_vector-1719858611039-66c134efa74d"
      class="rounded-circle object-fit-cover"
      style="width: 120px; height: 120px"
      alt="Profile Avatar"
    />
  </div>
  <div class="w-100">
    <div
      class="d-flex align-items-center justify-content-center justify-content-md-start mb-2"
    >
    <% if @is_my_profile %>
      <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-outline-primary btn-sm rounded-pill px-3 fw-bold", data: { turbo_prefetch: false } %>
    <% else %>
      <% if current_user.following.include?(@user) %>
        <%= button_to "Unfollow", unfollow_user_path(@user), method: :delete, class: "btn btn-outline-secondary btn-sm rounded-pill px-3 fw-bold", data: { turbo_prefetch: false } %>
      <% else %>
        <%= button_to "Follow", follow_user_path(@user), method: :post, class: "btn btn-primary btn-sm rounded-pill px-3 fw-bold", data: { turbo_prefetch: false } %>
      <% end %>
    <% end %>
    </div>
    <h1 class="fw-bold mb-2"><%= @user.firstName + " " + @user.lastName %></h1>
    <div
      class="d-flex flex-wrap justify-content-center justify-content-md-start gap-3 gap-md-4 text-secondary"
    >
      <a href="#" class="text-decoration-none">
        <span class="fw-bold text-dark fs-5"><%= @user.photos_count %></span>
        <span class="small text-secondary">PHOTOS</span>
      </a>
      <a href="#" class="text-decoration-none">
        <span class="fw-bold text-dark fs-5"><%= @user.albums_count %></span>
        <span class="small text-secondary">ALBUMS</span>
      </a>
      <a href="#" class="text-decoration-none">
        <span class="fw-bold text-dark fs-5"><%= @user.following_count %></span>
        <span class="small text-secondary">FOLLOWINGS</span>
      </a>
      <a href="#" class="text-decoration-none">
        <span class="fw-bold text-dark fs-5"><%= @user.followers_count %></span>
        <span class="small text-secondary">FOLLOWERS</span>
      </a>
    </div>
  </div>
</div>

<% if @is_my_profile %>
  <%= link_to 'Add photos', new_photo_path, class: "mt-5 align-self-md-end align-self-center btn btn-success rounded-pill btn-add-photos", data: { turbo_prefetch: false } %>
<% end %>

<%# body content here %>
<div
  class="row row-cols-lg-3 row-cols-md-2 row-cols-xl-4 row-cols-1 mt-5"
>
  <%= render partial: "photos/photo_item", collection: @user.photos, as: :photo %>
</div>


<!-- Photo Modal -->
<%= render 'photos/photo_modal' %>