<!-- Photo/Album Toggle -->
<div class="d-flex justify-content-center mb-4">
  <div class="btn-group" role="group" aria-label="Content type toggle">
    <%= link_to photos_path, class: "btn btn-primary", "aria-current": "page" do %>
      PHOTO
    <% end %>
    <%= link_to albums_path, class: "btn btn-outline-secondary" do %>
      ALBUM
    <% end %>
  </div>
</div>

<div id="photos" class="row align-items-start h-auto gy-2">
  <% @photos.each do |photo| %>
    <%= render photo %>
  <% end %>
</div>

<% if @pagy.next.present? %>
  <%= turbo_frame_tag :next_page, src: photos_path(page: @pagy.next, format: :turbo_stream), loading: :lazy %>
<% end %>

<%= render 'photo_modal' %>